html,body {
    width:100%;
    height:100%;
    overflow:hidden;
}
form {
    width: 22%;
    margin: 11vw auto auto auto;
    border-radius: 3px;
}

.box-shadow {
    box-shadow: 0px 0px 22px 3px rgba(217, 51, 63, 0.1);
}

html {
    background: rgba(254, 244, 233, 1);
}
form .card-header {
    background: rgba(217, 51, 63, 0.8);
    border-radius: 5px 5px 0px 0px;
}
form .card-header-title {
    color: #ffffff;
    font-weight: bold;
}

form .card-footer-item {
    color: rgba(217, 51, 63);
}

.support {
    margin: 22px auto auto auto;
    width: 22%;
}
.support > p {
    text-align: center;
    color: rgba(217, 51, 63, 0.5);
    margin-bottom: 11px;
}
.support > p > a {
    color: rgba(217, 51, 63, 0.5);
}
.support > p > a:hover {
    color: rgba(217, 51, 63, 0.8);
}
